<!-- Bottom Nav Bar -->

<head>
  <meta charset="UTF-8">
  <title>
      Portfolio - Leo Fanseda
  </title>

  <!-- .css FILES -->
  <!-- THE GENERAL STYLESHEET FOR THE UNIFORM ELEMENTS FOUND ON ALL PAGES -->
  <link href="/Content/app.css" rel="stylesheet" type="text/css">
</head>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text" style="text-align: center;"> &copy; Made by Leo Fanseda 2022
    <a href="https://www.linkedin.com/in/leo-fanseda-070346252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFh7fUSYuQYG9DCpj1k7adw%3D%3D">My Linkedin!</a>
    <a href="https://github.com/lavynder/Assignment2.git">My Github!</a>
  </h6>
  
</nav>