<!-- Bottom Nav Bar -->

<head>
  <meta charset="UTF-8">
  <title>
      Portfolio - Leo Fanseda
  </title>

  <!-- .css FILES -->
  <!-- THE GENERAL STYLESHEET FOR THE UNIFORM ELEMENTS FOUND ON ALL PAGES -->
  <link href="/Content/app.css" rel="stylesheet" type="text/css">
</head>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text" > &copy; Made by Leo Fanseda 2022</h6>
</nav>