<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>
        Portfolio - Leo Fanseda
    </title>

    <!-- .css FILES -->
    <!-- THE GENERAL STYLESHEET FOR THE UNIFORM ELEMENTS FOUND ON ALL PAGES -->
    <link href="/Content/style_home.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- CREATING THE WRAPPER -->
    <div id="wrapper">
        
        <!-- THE TITLE FOR THE PAGE -->
        <div id="banner">
            <h1>
                Welcome to the home page. <br>
            </h1>
        </div>
        
        <!-- TEXT TO HELP DIRECT THE USER -->
        <div id="center-column">
            <h3>
                Click on the navigation tabs to find more information about me!
            </h3>
        </div>
    </div>

</body>

</html>