<!-- Referenced from my assignment 1 code -->

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>
        Portfolio - Leo Fanseda
    </title>
    
    <!-- .css FILES -->
    <!-- THE GENERAL STYLESHEET FOR THE UNIFORM ELEMENTS FOUND ON ALL PAGES -->
    <link href="/Content/style_projects.css" rel="stylesheet" type="text/css">


</head>

<body>
    <!-- CREATING THE WRAPPER -->
    <div id="wrapper">
        <!-- TITLE FOR THE PAGE -->
        <div id="banner">
            <h1>
                List of Projects
            </h1>
        </div>

        <!-- THE DIV FOR THE LIST -->
        <div id="center-column">
            <p>
                <!-- USING A DESCRIPTIVE LIST -->
                <dl class="list">
                    <dt> &bull; 2020 - Where's Wolfy? </dt>
                    <dd> &#9702; Final project for Basic Programming in Java. <br>
                        Written in Java. </dd>

                    <dt> &bull; 2021 - Hangman </dt>
                    <dd> &#9702; Final project for Introduction to Programming. <br>
                        Written in Python. </dd>

                    <dt> &bull; 2022 - Reservation System </dt>
                    <dd> &#9702; Final project for OOP Programming. <br> 
                        Written in Python and SQLite </dd>
                </dl>
            </p>
        </div>

    </div>


</html>