body {
    background-image: linear-gradient(#0DADB7, rgb(156, 101, 156));
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    height: 100vh;
}

.container {
    text-align: center;
}